/* Transition {{{*/

a,
a img,
a span,
a:after,
a:before,
a h1,
button,
tr {
    -webkit-transition: all 0.1s ease-out;
    -moz-transition: all 0.1s ease-out;
    -o-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    -webkit-transition-property: opacity, color, background-position, background-color, border-color;
    -moz-transition-property: opacity, color, background-position, background-color, border-color;
    -o-transition-property: opacity, color, background-position, background-color, border-color;
    transition-property: opacity, color, background-position, background-color, border-color;
}

/*}}}*/

/* Font {{{*/

/* Google Web Font {{{*/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: normal;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/xjAJXh38I15wypJXxuGMBrrIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/MTP_ySUJH_bn48VBG8sNSqRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: bold;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/PRmiXeptR36kaC0GEAetxuw_rQOTGi-AJs5XCWaKIhU.woff) format('woff');
}

/*}}}*/

html {
  font-size: 62.5%;
}

body, .standard, .standardtitle {
  font-family: 'Open Sans', Arial, sans-serif !important;
  font-size: 14px;
  font-size: 1.4rem;
}

.windows body, .windows .standard, .windows .standardtitle {
  font-family: Arial, sans-serif !important;
}

/*}}}*/

/* Layout {{{*/

/* Header */
.hdr_lft_col,
.hdr_rht_col {
  background: none;
}

/* Header sub-nav */
.navlist .lft_cur,
.navlist .mid,
.navlist .rht_cur {
  background: none;
  border: 0;
}

.navlist {
  background: #eee;
  border-radius: 2px;
}

/* Searchbar */
.hdr2_srchbar .lft_cur,
.hdr2_srchbar .mid,
.hdr2_srchbar .rht_cur {
  background: none;
}
.hdr2_srchbar {
  background: #eee;
  border-radius: 2px;
}

/*}}}*/

/* Thumbnails {{{*/

.thumbnail {
  border: 0;
}

/*}}}*/

/* Categories listing page {{{*/

.homeMetaCatName {
  font-size: 18px;
  font-size: 1.8rem;
}

.catlist a {
  font-size: 14px;
  font-size: 1.4rem;
}

/*}}}*/

/* Ads listing page {{{*/

tr.highlight {
  background: #eee;
}

.resultsTableSB td a,
.resultsTableSB td a:hover {
  color: black;
  background: transparent;
}

.resultsTableSB .adLinkSB,
.resultsTableSB .prc {
  font-size: 18px;
  font-size: 1.8rem;
  text-decoration: none;
}

.resultsTableSB .nomorebroken {
  text-decoration: none;
}

.paginationBottomBg {
  font-size: 125%;
}

.paginationBottomBg a {
  background: transparent;
}

/*}}}*/

/* Ad detail page {{{*/

/* Overwrite main image size  */
.VAStyleA .gallery {
  height: 0;
  width: auto;
  padding-bottom: 75%;
}

/* Overwrite main image size  */
.VAStyleA .imageStack {
  height: auto;
  width: auto;
}

/* Expand main-image over it’s original size for big screen */
.viewad_frame_tbl {
  width: 100%;
}
.viewadimgcontr,
.viewadimgcontr > tbody,
.viewadimgcontr > tbody > tr,
.viewadimgcontr > tbody > tr > td {
  display: block;
  width: 100%;
}

/* Ad other small image */
.viewad_images img { width: 100%; }
.VAStyleA .imageNavs td { width: auto; height: auto; }

/* Ad images column wrap */
.adImg { width: 60%; }

/*}}}*/

/* Infinite Scroll Loading {{{*/

.infinite-scroll-loading {
  font-size: 20px;
}

/*}}}*/
