/* Ad detail page */

/* Overwrite main image size  */
.VAStyleA .gallery {
  height: 0;
  width: auto;
  padding-bottom: 75%;
}

/* Overwrite main image size  */
.VAStyleA .imageStack {
  height: auto;
  width: auto;
}

/* Expande main-image over it’s original size for big screen */
.viewad_frame_tbl {
  width: 100%;
}
.viewadimgcontr,
.viewadimgcontr > tbody,
.viewadimgcontr > tbody > tr,
.viewadimgcontr > tbody > tr > td {
  display: block;
  width: 100%;
}

/* Ad other small image */
.viewad_images img { width: 100%; }
.VAStyleA .imageNavs td { width: auto; height: auto; }

/* Ad images column wrap */
.adImg { width: 60%; }
